.fw-tabs-container .fw-tabs ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.fw-tabs-container .fw-tabs ul:before,
.fw-tabs-container .fw-tabs ul:after {
	content: " ";
	display: table;
}
.fw-tabs-container .fw-tabs ul:after {
	clear: both;
}
.fw-tabs-container .fw-tabs ul:before,
.fw-tabs-container .fw-tabs ul:after {
	content: " ";
	display: table;
}
.fw-tabs-container .fw-tabs ul:after {
	clear: both;
}
.fw-tabs-container .fw-tabs ul li {
	
	display: inline-block;
	float: left;
}
.fw-tabs-container .fw-tabs ul li:first-child {
	
}
.fw-tabs-container .fw-tabs ul li a {
	
	display: block;
	
	text-decoration: none;
	border-bottom: none;
	box-shadow: none;
}
.fw-tabs-container .fw-tabs ul li a:focus {
	outline: medium none;
}
.fw-tabs-container .fw-tabs ul li.ui-state-active {
	
}
.fw-tabs-container .fw-tabs ul li.ui-state-active a {
	
}
.fw-tabs-container.tabs-justified .fw-tabs ul li {
	float: none;
	display: table-cell;
	width: 1%;
	text-align: center;
}
.fw-tabs-container.tabs-justified .fw-tab-content {
	border-top: 0px;
}
.fw-tabs-container .fw-tab-content {
	
}
.fw-tabs-container.ui-tabs .fw-tab-content {
	display: block;
}
.fw-tabs-container.ui-tabs .fw-tab-content.ui-tabs-hide {
	display: none;
}
.fw-tabs-container .fw-tab-content img {
	float: left;
	margin: 5px 20px 5px 0;
}
.fw-tabs-container .fw-tab-content p:last-child {
	margin-bottom: 0;
}